<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mx.itesm.acoustics.acoustics" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name"
            android:theme="@style/Splash" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".MainMenuActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ListActivity"
            android:label="Lista de terapias"
            android:parentActivityName=".MainMenuActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="mx.itesm.acoustics.acoustics.MainMenuActivity" />
        </activity>
        <activity
            android:name=".GraphActivity"
            android:label="Analisis de datos"
            android:parentActivityName=".ListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="mx.itesm.acoustics.acoustics.ListActivity" />
        </activity>
        <activity
            android:name=".RecordActivity"
            android:label="Grabar nueva terapia"
            android:parentActivityName=".MainMenuActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="mx.itesm.acoustics.acoustics.MainMenuActivity" />
        </activity>
        <activity
            android:name=".PrefrencesActivity"
            android:label="Preferencias"
            android:parentActivityName=".GraphActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="mx.itesm.acoustics.acoustics.GraphActivity" />
        </activity>
        <service android:name=".ServicioCambios"/>
    </application>

</manifest>
